.navbar {
    z-index: 2;
}

.nav-links li a:hover {
    color: #FFFFFF;
}

.about-hero {
    position: relative;
    background-image: url('/assets/images/sedona-mountain.webp');
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-overlay {
    background: rgba(0, 0, 0, 0.4);
    padding: 2rem;
    color: #FFFFFF;
    border-radius: 8px;
}

.hero-overlay h1 {
    font-family: 'Satisfy', cursive;
    font-size: 4rem;
    margin-bottom: 0.5rem;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
}

.hero-overlay p {
    font-family: 'Acme', sans-serif;
    font-size: 1.6rem;
    letter-spacing: 0.5px;
    max-width: 600px;
    margin: 0 auto;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.about-content {
    background-image: url('/assets/images/about-background-1920.webp');
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    padding: 2rem 0;
}

.about-inner {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
    max-width: 1300px;
    margin: 0 auto;
}

.about-text {
    flex: 1 1 500px;
}

.about-text h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about-text p {
     line-height: 1.6;
}

.about-image {
    flex: 1 1 400px;
    text-align: center;
}

.about-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.about-cta {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 3rem 2rem;
    margin-top: -2px;
}

.about-cta h2 {
    color: #FFFFFF;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about-cta p {
    color: #FFFFFF;
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

.cta-button {
    background-color: var(--primary-color);
    color: #000000;
    padding: 0.8rem 2rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease;
}

.cta-button:hover {
    background-color: var(--primary-color-dark);
    color: #FFFFFF;
}

/* Responsive Styling */
@media (max-width: 1600px) {
    .about-content {
        background-image: url('/assets/images/about-background-1600.webp');
        background-position: left center;
    }
}

@media (max-width: 1199px) {
    .about-content {
        background-image: url('/assets/images/about-background-1280.webp');
    }
}

@media (max-width: 1024px) {
    .hero-overlay {
        padding: 1rem;
    }

    .hero-overlay h1 {
        font-size: 3rem;
    }

    .hero-overlay p {
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) {
    .about-hero h1 {
        font-size: 2.2rem;
    }

    .about-content {
        background-image: url('/assets/images/about-background-800.webp');
    }
}