.nav-links li a:hover {
    color: #FFFFFF;
}

.main-blissful-bisbee-header {
    margin-top: 200px;
    text-align: center;
    padding-bottom: 10px;
}

.blissful-bisbee-intro img {
    display: block;
    margin: 20px auto;
    width: 40%;
    border-radius: 8px;
}

.blissful-bisbee-intro p {
    font-size: 1.3rem;
    margin: 0 100px;
}

.bisbee-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.blissful-bisbee-post {
    width: 70%;
    background: var(--primary-color);
    border-radius: 8px;
    margin: 10px auto;
}

.blissful-bisbee-post h2 {
    text-align: center;
}

.blissful-bisbee-post p {
    font-size: 1.3rem;
}

.blissful-bisbee-post img {
    width: 100%;
    max-width: 700px;
    height: auto;
    display: block;
    margin: 10px auto;
    border-radius: 8px;
}

.footer-image {
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
}

.footer-image img {
    width: 100%;
    height: auto;
    display: block;
}

/* Responsive Styling */
@media (max-width: 768px) {
    .main-blissful-bisbee-header {
        margin-top: 150px;
    }

    .main-blissful-bisbee-header h1 {
        font-size: 3rem;
    }

    .blissful-bisbee-intro img {
        display: block;
        margin: 20px auto;
        width: 70%;
    }

    .blissful-bisbee-intro p {
        font-size: 1.1rem;
        margin: 0 20px;
    }

    .blissful-bisbee-post {
      flex: 1 1 100%; /* Stacks posts in one column */
    }

    .blissful-bisbee-post h2 {
        font-size: 2.5rem;
    }

    .blissful-bisbee-post p {
        font-size: 1.1rem;
    }
}