.nav-links li a:hover {
    color: #FFFFFF;
}

.main-contact-header {
    margin-top: 180px;
    text-align: center;
    padding-bottom: 20px;
}
  
form {
    background: #6d0796;
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
    margin: 40px auto;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}
  
form input, form textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #ffffff;
    font-family: 'Satisfy', cursive;
    font-size: 1.2rem;
    border-radius: 10px;
}
  
.button {
    font-family: 'Satisfy', cursive;
    background: white;
    color: black;
    font-size: 1.2rem;
    border: none;
    padding: 8px 10px;
    width: 200px;
    text-align: center;
    margin: 20px auto 10px;
    border-radius: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
}
  
.button:hover {
    background-color: #f5af4e;
    color: white;
}

/* Responsive Styling */
@media (max-width: 435px) {
    .main-contact-header {
        margin-top: 150px;
        padding-bottom: 0;
    }

    form {
        padding: 1rem 1.5rem;
        width: 80%;
    }

    form input, form textarea {
        padding: 10px;
        font-size: 0.9rem;
    }

    .button {
        width: 150px;
        font-size: 0.9rem;
    }
}