* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root variables */
:root {
  --primary-color: #F5AF4E;
  --secondary-color: #6D0796;
  --accent-color-light: #F2E6D4;
  --accent-color-dark: #371E16;
  --font-family: 'Arial', sans-serif;
  --transition-speed: 0.3s;
}

body {
  font-family: var(--font-family);
  background-color: var(--primary-color);
  line-height: 1.4;
}

/* Locally hosted fonts */
@font-face {
  font-family: '';
    src: url('/assets/fonts/GreatVibes-Regular.woff2') format('woff2'),
         url('/assets/fonts/GreatVibes-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Text styling */
h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

/* Hero section */
.hero {
  background-image: url(/assets/images/main-image.webp) center/cover no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  position: relative;
}

/* Navbar */
.navbar {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: rgba(0, 0, 0, 0.3);
}

/* Logo styling */
.logo img {
  height: 100px;
  width: auto;
}

/* Navigation links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.8rem;
  transition: var(--transition-speed);
}

.nav-links li a:hover {
  color: var(--secondary-color);
}

/* Hamburger menu */
.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: #FFFFFF;
}
  
/*Main blog page styling*/
.blogWrapper {
    display: grid;
    gap: 10px;
    grid-template-areas: 
        "header"
        "mainBlog"
        "main-blog1"
        "main-blog2"
        "main-blog3"
        "main-blog4"
        "footer";
}
  
.blogBody {
    background: #f5af4e;
}
  
#mainBlog {
    grid-area: mainBlog;
}
  
#mainBlog h1 {
    font-size: 8vw;
    text-align: center;
    font-family: 'Walter Turncoat', cursive;
}
  
.main-blog1 {
    grid-area: main-blog1;
}
  
.main-blog1 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 70%;
    height: fit-content;
    border-radius: 20px;
    margin: 30px auto 30px auto;
}
  
.main-blog1 img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}
  
.container1 {
    background: white;
    padding: 2px 16px;
    border-radius: 0 0 20px 20px;
}
  
.main-blog1 h2 {
    font-size: 6vw;
    font-family: 'Shadows Into Light Two', cursive;
    text-decoration: underline;
    text-align: center;
    letter-spacing: 1.8px;
    padding-top: 20px;
    padding-bottom: 10px;
}
  
.main-blog1 p {
    font-size: 4vw;
    text-align: left;
    margin: 8px;
    line-height: 1.4;
}
  
.main-blog1 a {
    cursor: pointer;
}
  
.main-blog1:hover {
    box-shadow: 0 10px 20px 0 #b005f4;
}
  
.main-blog2 {
    grid-area: main-blog2;
}
  
.main-blog2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 70%;
    height: fit-content;
    border-radius: 20px;
    margin: 30px auto 30px auto;
}
  
.main-blog2 img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}
  
.main-blog2 h2 {
    font-size: 6vw;
    font-family: 'Shadows Into Light Two', cursive;
    text-decoration: underline;
    text-align: center;
    letter-spacing: 1.8px;
    padding-top: 20px;
    padding-bottom: 10px;
}
  
.main-blog2 p {
    font-size: 4vw;
    text-align: left;
    margin: 8px;
    line-height: 1.4;
}
  
.main-blog2 a {
    cursor: pointer;
}
  
.main-blog2:hover {
    box-shadow: 0 10px 20px 0 #b005f4;
}
  
.main-blog3 {
    grid-area: main-blog3;
}
  
.main-blog3 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 70%;
    height: fit-content;
    border-radius: 20px;
    margin: 30px auto 30px auto;
}
  
.main-blog3 img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}
  
.main-blog3 h2 {
    font-size: 6vw;
    font-family: 'Shadows Into Light Two', cursive;
    text-decoration: underline;
    text-align: center;
    letter-spacing: 1.8px;
    padding-top: 20px;
    padding-bottom: 10px;
}
  
.main-blog3 p {
    font-size: 4vw;
    text-align: left;
    margin: 8px;
    line-height: 1.4;
}
  
.main-blog3 a {
    cursor: pointer;
}
  
.main-blog3:hover {
    box-shadow: 0 10px 20px 0 #b005f4;
}
  
.main-blog4 {
    grid-area: main-blog4;
}
  
.main-blog4 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 70%;
    height: fit-content;
    border-radius: 20px;
    margin: 30px auto 30px auto;
}
  
.main-blog4 img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}
  
.main-blog4 h2 {
    font-size: 6vw;
    font-family: 'Shadows Into Light Two', cursive;
    text-decoration: underline;
    text-align: center;
    letter-spacing: 1.8px;
    padding-top: 20px;
    padding-bottom: 10px;
}
  
.main-blog4 p {
    font-size: 4vw;
    text-align: left;
    margin: 8px;
    line-height: 1.4;
}
  
.main-blog4 a {
    cursor: pointer;
}
  
.main-blog4:hover {
    box-shadow: 0 10px 20px 0 #b005f4;
}
  
/*Blog1 page styling*/
.blog1Wrapper {
    display: grid;
    gap: 10px;
    grid-template-areas: 
        "header"
        "blog1"
        "hike10"
        "hike9"
        "hike8"
        "hike7"
        "hike6"
        "hike5"
        "hike4"
        "hike3"
        "hike2"
        "hike1"
        "footerImg1"
        "footer";
}
  
.blog1Body {
    background: #f5af4e;
}
  
#blog1 {
    grid-area: blog1;
}
  
#blog1 h1 {
    font-size: 9vw;
    text-align: center;
    font-family: 'Walter Turncoat', cursive;
    margin: 0 15px 10px 15px;
}
  
#blog1 img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 15px;
}
  
#blog1 p {
    font-size: 4vw;
    text-align: left;
    margin: 20px;
    line-height: 1.4;
}
  
.hike10 {
    grid-area: hike10;
}
  
.hike10 p {
    font-size: 4vw;
    text-align: left;
    margin: 0 20px 10px 20px;
    line-height: 1.4;
}
  
.hike10 img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 15px;
}
  
.hike10 h2 {
    font-size: 6vw;
    color: white;
    text-shadow: 2px 2px 4px #b005f4;
}
  
.hike9 {
    grid-area: hike9;
}
  
.hike9 p {
    font-size: 4vw;
    text-align: left;
    margin: 0 20px 10px 20px;
    line-height: 1.4;
}
  
.hike9 img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 15px;
}
  
.hike9 h2 {
    font-size: 6vw;
    color: white;
    text-shadow: 2px 2px 4px #b005f4;
}
  
.hike8 {
    grid-area: hike8;
}
  
.hike8 p {
    font-size: 4vw;
    text-align: left;
    margin: 0 20px 10px 20px;
    line-height: 1.4;
}
  
.hike8 img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 15px;
}
  
.hike8 h2 {
    font-size: 6vw;
    color: white;
    text-shadow: 2px 2px 4px #b005f4;
}
  
.hike7 {
    grid-area: hike7;
}
  
.hike7 p {
    font-size: 4vw;
    text-align: left;
    margin: 0 20px 10px 20px;
    line-height: 1.4;
}
  
.hike7 img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 15px;
}
  
.hike7 h2 {
    font-size: 6vw;
    color: white;
    text-shadow: 2px 2px 4px #b005f4;
}
  
.hike6 {
    grid-area: hike6;
}
  
.hike6 p {
    font-size: 4vw;
    text-align: left;
    margin: 0 20px 10px 20px;
    line-height: 1.4;
}
  
.hike6 img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 15px;
}
  
.hike6 h2 {
    font-size: 6vw;
    color: white;
    text-shadow: 2px 2px 4px #b005f4;
}
  
.hike5 {
    grid-area: hike5;
}
  
.hike5 p {
    font-size: 4vw;
    text-align: left;
    margin: 0 20px 10px 20px;
    line-height: 1.4;
}
  
.hike5 img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 15px;
}
  
.hike5 h2 {
    font-size: 6vw;
    color: white;
    text-shadow: 2px 2px 4px #b005f4;
}
  
.hike4 {
    grid-area: hike4;
}
  
.hike4 p {
    font-size: 4vw;
    text-align: left;
    margin: 0 20px 10px 20px;
    line-height: 1.4;
}
  
.hike4 img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 15px;
}
  
.hike4 h2 {
    font-size: 6vw;
    color: white;
    text-shadow: 2px 2px 4px #b005f4;
}
  
.hike3 {
    grid-area: hike3;
}
  
.hike3 p {
    font-size: 4vw;
    text-align: left;
    margin: 0 20px 10px 20px;
    line-height: 1.4;
}
  
.hike3 img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 15px;
}
  
.hike3 h2 {
    font-size: 6vw;
    color: white;
    text-shadow: 2px 2px 4px #b005f4;
}
  
.hike2 {
    grid-area: hike2;
}
  
.hike2 p {
    font-size: 4vw;
    text-align: left;
    margin: 0 20px 10px 20px;
    line-height: 1.4;
}
  
.hike2 img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 15px;
}
  
.hike2 h2 {
    font-size: 6vw;
    color: white;
    text-shadow: 2px 2px 4px #b005f4;
}
  
.hike1 {
    grid-area: hike1;
}
  
.hike1 p {
    font-size: 4vw;
    text-align: left;
    margin: 0 20px 10px 20px;
    line-height: 1.4;
}
  
.hike1 img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 15px;
}
  
.hike1 h2 {
    font-size: 6vw;
    color: white;
    text-shadow: 2px 2px 4px #b005f4;
}
  
.footerImg1  img{
    width: 100%;
    object-fit: cover;
}
  
/*Blog2 page styling*/
.blog2Wrapper {
    display: grid;
    gap: 10px;
    grid-template-areas: 
        "header"
        "blog2"
        "bisbeeMine"
        "bisbeeFood"
        "bisbeeShop"
        "bisbeeHotel"
        "footerImg2"
        "footer";
}
  
.blog2Body {
    background: #f5af4e;
}
  
#blog2 {
    grid-area: blog2;
}
  
#blog2 h1 {
    font-size: 8vw;
    text-align: center;
    font-family: 'Walter Turncoat', cursive;
    margin: 0 15px 10px 15px;
}
  
#blog2 img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 15px;
}
  
#blog2 p {
    font-size: 4vw;
    text-align: left;
    margin: 20px;
    line-height: 1.4;
}
  
.bisbeeMine {
    grid-area: bisbeeMine;
}
  
.bisbeeMine h2 {
    font-size: 6vw;
    color: white;
    text-shadow: 2px 2px 4px #b005f4;
}
  
.bisbeeMine p {
    font-size: 4vw;
    text-align: left;
    margin: 0 20px 10px 20px;
    line-height: 1.4;
}
  
.bisbeeMine img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 15px;
}
  
.bisbeeFood {
    grid-area: bisbeeFood;
}
  
.bisbeeFood h2 {
    font-size: 6vw;
    color: white;
    text-shadow: 2px 2px 4px #b005f4;
}
  
.bisbeeFood p {
    font-size: 4vw;
    text-align: left;
    margin: 0 20px 10px 20px;
    line-height: 1.4;
}
  
.bisbeeFood img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 15px;
}
  
.bisbeeFood .noborder {
    border: none;
}
  
.bisbeeShop {
    grid-area: bisbeeShop;
}
  
.bisbeeShop h2 {
    font-size: 6vw;
    color: white;
    text-shadow: 2px 2px 4px #b005f4;
}
  
.bisbeeShop p {
    font-size: 4vw;
    text-align: left;
    margin: 0 20px 10px 20px;
    line-height: 1.4;
}
  
.bisbeeShop img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 15px;
}
  
.bisbeeHotel {
    grid-area: bisbeeHotel;
}
  
.bisbeeHotel h2 {
    font-size: 6vw;
    color: white;
    text-shadow: 2px 2px 4px #b005f4;
}
  
.bisbeeHotel p {
    font-size: 4vw;
    text-align: left;
    margin: 0 20px 10px 20px;
    line-height: 1.4;
}
  
.bisbeeHotel img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 15px;
}
  
.footerImg2 img {
    width: 100%;
    object-fit: cover;
}

/*Blog3 page styling*/
.blog3Wrapper {
    display: grid;
    gap: 10px;
    grid-template-areas: 
        "header"
        "blog3"
        "sonoranDog"
        "mexicanCrepe"
        "chimichanga"
        "footerImg3"
        "footer";
}
  
.blog3Body {
    background: #f5af4e;
}
  
#blog3 {
    grid-area: blog3;
}
  
#blog3 h1 {
    font-size: 8vw;
    text-align: center;
    font-family: 'Walter Turncoat', cursive;
    margin: 0 15px 10px 15px;
}
  
#blog3 img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 15px;
}
  
#blog3 p {
    font-size: 4vw;
    text-align: left;
    margin: 20px;
    line-height: 1.4;
}
  
.sonoranDog {
    grid-area: sonoranDog;
}
  
.sonoranDog h2 {
    font-size: 6vw;
    color: white;
    text-shadow: 2px 2px 4px #b005f4;
}
  
.sonoranDog p {
    font-size: 4vw;
    text-align: left;
    margin: 0 20px 10px 20px;
    line-height: 1.4;
}
  
.sonoranDog img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 15px;
}
  
.mexicanCrepe {
    grid-area: mexicanCrepe;
}
  
.mexicanCrepe h2 {
    font-size: 6vw;
    color: white;
    text-shadow: 2px 2px 4px #b005f4;
}
  
.mexicanCrepe p {
    font-size: 4vw;
    text-align: left;
    margin: 0 20px 10px 20px;
    line-height: 1.4;
}
  
.mexicanCrepe img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 15px;
}
  
.chimichanga {
    grid-area: chimichanga;
}
  
.chimichanga h2 {
    font-size: 6vw;
    color: white;
    text-shadow: 2px 2px 4px #b005f4;
}
  
.chimichanga p {
    font-size: 4vw;
    text-align: left;
    margin: 0 20px 10px 20px;
    line-height: 1.4;
}
  
.chimichanga img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 15px;
}
  
.footerImg3 img {
    width: 100%;
    object-fit: cover;
}
  
.footerImg4 img {
    width: 100%;
    object-fit: cover;
}
  
/*Contact page form styling*/
  
.contactBody {
    background: #f5af4e;
}
  
#contactForm h2 {
    font-size: 6vw;
    padding-bottom: 30px;
}
  
form {
    background: #6d0796;
    display: flex;
    flex-direction: column;
    padding: 3vw 4vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    width: 90%;
    max-width: 600px;
    border-radius: 30px;
}
  
form input, form textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #ffffff;
    font-family: 'Sriracha', cursive;
    font-size: 16px;
    border-radius: 10px;
}
  
.button {
    background: white;
    color: black;
    font-size: 16px;
    border: none;
    padding: 15px;
    width: 200px;
    text-align: center;
    margin: 20px auto 10px;
    border-radius: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
}
  
.button:hover {
    background-color: #f5af4e;
    color: white;
}
  
/*Footer styling*/
.footer {
    grid-area: footer;
    text-align: center;
    background: #6d0796;
    border-radius: 10px 10px 0 0;
    padding-top: 10px;
}
  
.created {
    color: white;
    font-family: 'Shadows Into Light Two', cursive;
    letter-spacing: 1.3px;
    padding-top: 5px;
}
  
.created a:link, a:visited {
    color: inherit;
    text-decoration: none;
}
  
.created a:hover, a:active {
    background-color: #6d0796;
    color: white;
}
  
/*About page styling*/
  
.aboutBody {
    background: #f5af4e;
    background-image: url(images/Cactus\ Background.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
  
.mainAbout h1 {
    font-size: 6.5vw;
    font-family: 'Walter Turncoat', cursive;
    padding-bottom: 20px;
    text-align: center;
}
  
.aboutImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    border: 3px solid #6d0796;
    border-radius: 2em 1em 5em / 1em 4em;
}
  
.mainAbout p {
    font-size: 3.8vw;
    line-height: 1.3;
    padding: 25px 25px 0 25px;
    position: relative;
}
  
.footerAbout {
    grid-area: footer;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #6d0796;
    border-radius: 10px 10px 0 0;
    padding-top: 10px;
}
  
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }

.nav-links.active {
    display: flex;
  }

.nav-links li {
    padding: 10px 0;
  }
}