* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root variables */
:root {
  --primary-color: #F5AF4E;
  --secondary-color: #6D0796;
  --accent-color-light: #F2E6D4;
  --accent-color-dark: #371E16;
  --font-family: 'Arial', sans-serif;
  --transition-speed: 0.3s;
}

body {
  font-family: var(--font-family);
  background-color: var(--primary-color);
  line-height: 1.4;
}

/* Locally hosted fonts */
@font-face {
  font-family: '';
    src: url('/assets/fonts/GreatVibes-Regular.woff2') format('woff2'),
         url('/assets/fonts/GreatVibes-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Text styling */
h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

/* Header styling */

  
.nav-menu {
  position: fixed;
  left: -100%;
  top: 5rem;
  flex-direction: column;
  background: rgb(206, 145, 249);
  width: 100%;
  text-align: center;
  transition: 0.5s;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  z-index: 99;
}
  
.nav-menu.active {
  left: 0;
}
  
.nav-item {
  margin: 2.5rem 0;
}
  
.nav-logo img {
  width: 35%;
}
  
.hamburger {
  display: block;
  cursor: pointer;
}
  
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
  
.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
  
.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
  
.header {
    grid-area: header;
}
    
li {
    list-style: none;
}
    
a {
    text-decoration: none;
    color: inherit;
}
    
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem;
}
    
.bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px 7px;
    transition: all 0.3s ease-in-out;
    background: black;
}
    
.nav-link {
    font-family: 'Rancho', cursive;
    font-size: 2.6rem;
    font-weight: 600;
    color: black;
}
    
.nav-link:hover {
    color: white;
}
  
/*Index page styling*/
.wrapper {
    display: grid;
    gap: 10px;
    grid-template-areas: 
        "header"
        "main"
        "section1"
        "section2"
        "section3"
        "footer";
}
  
.main {
    grid-area: main;
    position: relative;
    text-align: center;
}
  
.centeredh1 {
    color: #6d0796;
    font-size: 7vw;
    font-family: 'Walter Turncoat', cursive;
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.centeredp {
    color: white;
    font-size: 4vw;
    font-family: 'Shadows Into Light Two', cursive;
    position: absolute;
    bottom: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
h2 {
    font-size: 5vw;
    font-family: 'Shadows Into Light Two', cursive;
    text-align: center;
    letter-spacing: 1.8px;
    padding-top: 20px;
    padding-bottom: 20px;
}
  
h3 {
    font-size: 4vw;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    font-family: 'Sriracha', cursive;
    text-decoration: underline;
}
  
#section1 {
    grid-area: section1;
}
  
#section1 a:link, a:visited {
    background-color: white;
    color: black;
    border: 3px solid black;
    border-radius: 10px 25px 10px 25px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  
#section1 a:hover, a:active {
    background-color: #6d0796;
    color: white;
    border: 5px solid white;
}
  
#section1 h3 a:hover, a:active {
    background-color: #f5af4e;
    color: black;
}
  
#section1 p {
    font-size: 18px;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 1.5;
}
  
#section1 img {
    width: 80%;
    display: block;
    margin: 0 auto;
    border-radius: 40%;
    filter: drop-shadow(0 0 0.75rem white);
}
  
.blog-post-1 {
    background: #6d0796;
    box-shadow: 3px 3px 5px black;
    margin-top: 40px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 20px;
}
  
.blog-post-2 {
    background: #6d0796;
    box-shadow: 3px 3px 5px black;
    margin-top: 40px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 20px;
}
  
.blog-post-3 {
    background: #6d0796;
    box-shadow: 3px 3px 5px black;
    margin-top: 40px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 20px;
}
  
.blog-post-4 {
    background: #6d0796;
    box-shadow: 3px 3px 5px black;
    margin-top: 40px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 20px;
}
  
.blog-p {
    color: white;
    padding: 20px 10px 20px 10px;
}
  
#section2 {
    grid-area: section2;
    background: black;
    box-shadow: 3px 3px 5px white;
    margin-top: 40px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 20px;
}
  
#section2 a:link, a:visited {
    background-color: white;
    color: black;
    border: 3px solid #6d3eb0;
    border-radius: 10px 25px 10px 25px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  
#section2 a:hover, a:active {
    background-color: #6d0796;
    color: white;
    border: 5px solid white;
}
  
#section2 p {
    color: white;
    font-size: 18px;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 1.5;
    padding-bottom: 20px;
}
  
#section3 {
    display: grid;
    place-items: center;
    grid-area: section3;
}
  
#section3 img {
    width: 80%;
    height: 90%;
}
  
/*Main blog page styling*/
.blogWrapper {
    display: grid;
    gap: 10px;
    grid-template-areas: 
        "header"
        "mainBlog"
        "main-blog1"
        "main-blog2"
        "main-blog3"
        "main-blog4"
        "footer";
}
  
.blogBody {
    background: #f5af4e;
}
  
#mainBlog {
    grid-area: mainBlog;
}
  
#mainBlog h1 {
    font-size: 8vw;
    text-align: center;
    font-family: 'Walter Turncoat', cursive;
}
  
.main-blog1 {
    grid-area: main-blog1;
}
  
.main-blog1 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 70%;
    height: fit-content;
    border-radius: 20px;
    margin: 30px auto 30px auto;
}
  
.main-blog1 img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}
  
.container1 {
    background: white;
    padding: 2px 16px;
    border-radius: 0 0 20px 20px;
}
  
.main-blog1 h2 {
    font-size: 6vw;
    font-family: 'Shadows Into Light Two', cursive;
    text-decoration: underline;
    text-align: center;
    letter-spacing: 1.8px;
    padding-top: 20px;
    padding-bottom: 10px;
}
  
.main-blog1 p {
    font-size: 4vw;
    text-align: left;
    margin: 8px;
    line-height: 1.4;
}
  
.main-blog1 a {
    cursor: pointer;
}
  
.main-blog1:hover {
    box-shadow: 0 10px 20px 0 #b005f4;
}
  
.main-blog2 {
    grid-area: main-blog2;
}
  
.main-blog2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 70%;
    height: fit-content;
    border-radius: 20px;
    margin: 30px auto 30px auto;
}
  
.main-blog2 img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}
  
.main-blog2 h2 {
    font-size: 6vw;
    font-family: 'Shadows Into Light Two', cursive;
    text-decoration: underline;
    text-align: center;
    letter-spacing: 1.8px;
    padding-top: 20px;
    padding-bottom: 10px;
}
  
.main-blog2 p {
    font-size: 4vw;
    text-align: left;
    margin: 8px;
    line-height: 1.4;
}
  
.main-blog2 a {
    cursor: pointer;
}
  
.main-blog2:hover {
    box-shadow: 0 10px 20px 0 #b005f4;
}
  
.main-blog3 {
    grid-area: main-blog3;
}
  
.main-blog3 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 70%;
    height: fit-content;
    border-radius: 20px;
    margin: 30px auto 30px auto;
}
  
.main-blog3 img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}
  
.main-blog3 h2 {
    font-size: 6vw;
    font-family: 'Shadows Into Light Two', cursive;
    text-decoration: underline;
    text-align: center;
    letter-spacing: 1.8px;
    padding-top: 20px;
    padding-bottom: 10px;
}
  
.main-blog3 p {
    font-size: 4vw;
    text-align: left;
    margin: 8px;
    line-height: 1.4;
}
  
.main-blog3 a {
    cursor: pointer;
}
  
.main-blog3:hover {
    box-shadow: 0 10px 20px 0 #b005f4;
}
  
.main-blog4 {
    grid-area: main-blog4;
}
  
.main-blog4 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 70%;
    height: fit-content;
    border-radius: 20px;
    margin: 30px auto 30px auto;
}
  
.main-blog4 img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}
  
.main-blog4 h2 {
    font-size: 6vw;
    font-family: 'Shadows Into Light Two', cursive;
    text-decoration: underline;
    text-align: center;
    letter-spacing: 1.8px;
    padding-top: 20px;
    padding-bottom: 10px;
}
  
.main-blog4 p {
    font-size: 4vw;
    text-align: left;
    margin: 8px;
    line-height: 1.4;
}
  
.main-blog4 a {
    cursor: pointer;
}
  
.main-blog4:hover {
    box-shadow: 0 10px 20px 0 #b005f4;
}
  
/*Blog1 page styling*/
.blog1Wrapper {
    display: grid;
    gap: 10px;
    grid-template-areas: 
        "header"
        "blog1"
        "hike10"
        "hike9"
        "hike8"
        "hike7"
        "hike6"
        "hike5"
        "hike4"
        "hike3"
        "hike2"
        "hike1"
        "footerImg1"
        "footer";
}
  
.blog1Body {
    background: #f5af4e;
}
  
#blog1 {
    grid-area: blog1;
}
  
#blog1 h1 {
    font-size: 9vw;
    text-align: center;
    font-family: 'Walter Turncoat', cursive;
    margin: 0 15px 10px 15px;
}
  
#blog1 img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 15px;
}
  
#blog1 p {
    font-size: 4vw;
    text-align: left;
    margin: 20px;
    line-height: 1.4;
}
  
.hike10 {
    grid-area: hike10;
}
  
.hike10 p {
    font-size: 4vw;
    text-align: left;
    margin: 0 20px 10px 20px;
    line-height: 1.4;
}
  
.hike10 img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 15px;
}
  
.hike10 h2 {
    font-size: 6vw;
    color: white;
    text-shadow: 2px 2px 4px #b005f4;
}
  
.hike9 {
    grid-area: hike9;
}
  
.hike9 p {
    font-size: 4vw;
    text-align: left;
    margin: 0 20px 10px 20px;
    line-height: 1.4;
}
  
.hike9 img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 15px;
}
  
.hike9 h2 {
    font-size: 6vw;
    color: white;
    text-shadow: 2px 2px 4px #b005f4;
}
  
.hike8 {
    grid-area: hike8;
}
  
.hike8 p {
    font-size: 4vw;
    text-align: left;
    margin: 0 20px 10px 20px;
    line-height: 1.4;
}
  
.hike8 img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 15px;
}
  
.hike8 h2 {
    font-size: 6vw;
    color: white;
    text-shadow: 2px 2px 4px #b005f4;
}
  
.hike7 {
    grid-area: hike7;
}
  
.hike7 p {
    font-size: 4vw;
    text-align: left;
    margin: 0 20px 10px 20px;
    line-height: 1.4;
}
  
.hike7 img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 15px;
}
  
.hike7 h2 {
    font-size: 6vw;
    color: white;
    text-shadow: 2px 2px 4px #b005f4;
}
  
.hike6 {
    grid-area: hike6;
}
  
.hike6 p {
    font-size: 4vw;
    text-align: left;
    margin: 0 20px 10px 20px;
    line-height: 1.4;
}
  
.hike6 img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 15px;
}
  
.hike6 h2 {
    font-size: 6vw;
    color: white;
    text-shadow: 2px 2px 4px #b005f4;
}
  
.hike5 {
    grid-area: hike5;
}
  
.hike5 p {
    font-size: 4vw;
    text-align: left;
    margin: 0 20px 10px 20px;
    line-height: 1.4;
}
  
.hike5 img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 15px;
}
  
.hike5 h2 {
    font-size: 6vw;
    color: white;
    text-shadow: 2px 2px 4px #b005f4;
}
  
.hike4 {
    grid-area: hike4;
}
  
.hike4 p {
    font-size: 4vw;
    text-align: left;
    margin: 0 20px 10px 20px;
    line-height: 1.4;
}
  
.hike4 img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 15px;
}
  
.hike4 h2 {
    font-size: 6vw;
    color: white;
    text-shadow: 2px 2px 4px #b005f4;
}
  
.hike3 {
    grid-area: hike3;
}
  
.hike3 p {
    font-size: 4vw;
    text-align: left;
    margin: 0 20px 10px 20px;
    line-height: 1.4;
}
  
.hike3 img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 15px;
}
  
.hike3 h2 {
    font-size: 6vw;
    color: white;
    text-shadow: 2px 2px 4px #b005f4;
}
  
.hike2 {
    grid-area: hike2;
}
  
.hike2 p {
    font-size: 4vw;
    text-align: left;
    margin: 0 20px 10px 20px;
    line-height: 1.4;
}
  
.hike2 img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 15px;
}
  
.hike2 h2 {
    font-size: 6vw;
    color: white;
    text-shadow: 2px 2px 4px #b005f4;
}
  
.hike1 {
    grid-area: hike1;
}
  
.hike1 p {
    font-size: 4vw;
    text-align: left;
    margin: 0 20px 10px 20px;
    line-height: 1.4;
}
  
.hike1 img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 15px;
}
  
.hike1 h2 {
    font-size: 6vw;
    color: white;
    text-shadow: 2px 2px 4px #b005f4;
}
  
.footerImg1  img{
    width: 100%;
    object-fit: cover;
}
  
/*Blog2 page styling*/
.blog2Wrapper {
    display: grid;
    gap: 10px;
    grid-template-areas: 
        "header"
        "blog2"
        "bisbeeMine"
        "bisbeeFood"
        "bisbeeShop"
        "bisbeeHotel"
        "footerImg2"
        "footer";
}
  
.blog2Body {
    background: #f5af4e;
}
  
#blog2 {
    grid-area: blog2;
}
  
#blog2 h1 {
    font-size: 8vw;
    text-align: center;
    font-family: 'Walter Turncoat', cursive;
    margin: 0 15px 10px 15px;
}
  
#blog2 img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 15px;
}
  
#blog2 p {
    font-size: 4vw;
    text-align: left;
    margin: 20px;
    line-height: 1.4;
}
  
.bisbeeMine {
    grid-area: bisbeeMine;
}
  
.bisbeeMine h2 {
    font-size: 6vw;
    color: white;
    text-shadow: 2px 2px 4px #b005f4;
}
  
.bisbeeMine p {
    font-size: 4vw;
    text-align: left;
    margin: 0 20px 10px 20px;
    line-height: 1.4;
}
  
.bisbeeMine img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 15px;
}
  
.bisbeeFood {
    grid-area: bisbeeFood;
}
  
.bisbeeFood h2 {
    font-size: 6vw;
    color: white;
    text-shadow: 2px 2px 4px #b005f4;
}
  
.bisbeeFood p {
    font-size: 4vw;
    text-align: left;
    margin: 0 20px 10px 20px;
    line-height: 1.4;
}
  
.bisbeeFood img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 15px;
}
  
.bisbeeFood .noborder {
    border: none;
}
  
.bisbeeShop {
    grid-area: bisbeeShop;
}
  
.bisbeeShop h2 {
    font-size: 6vw;
    color: white;
    text-shadow: 2px 2px 4px #b005f4;
}
  
.bisbeeShop p {
    font-size: 4vw;
    text-align: left;
    margin: 0 20px 10px 20px;
    line-height: 1.4;
}
  
.bisbeeShop img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 15px;
}
  
.bisbeeHotel {
    grid-area: bisbeeHotel;
}
  
.bisbeeHotel h2 {
    font-size: 6vw;
    color: white;
    text-shadow: 2px 2px 4px #b005f4;
}
  
.bisbeeHotel p {
    font-size: 4vw;
    text-align: left;
    margin: 0 20px 10px 20px;
    line-height: 1.4;
}
  
.bisbeeHotel img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 15px;
}
  
.footerImg2 img {
    width: 100%;
    object-fit: cover;
}

/*Blog3 page styling*/
.blog3Wrapper {
    display: grid;
    gap: 10px;
    grid-template-areas: 
        "header"
        "blog3"
        "sonoranDog"
        "mexicanCrepe"
        "chimichanga"
        "footerImg3"
        "footer";
}
  
.blog3Body {
    background: #f5af4e;
}
  
#blog3 {
    grid-area: blog3;
}
  
#blog3 h1 {
    font-size: 8vw;
    text-align: center;
    font-family: 'Walter Turncoat', cursive;
    margin: 0 15px 10px 15px;
}
  
#blog3 img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 15px;
}
  
#blog3 p {
    font-size: 4vw;
    text-align: left;
    margin: 20px;
    line-height: 1.4;
}
  
.sonoranDog {
    grid-area: sonoranDog;
}
  
.sonoranDog h2 {
    font-size: 6vw;
    color: white;
    text-shadow: 2px 2px 4px #b005f4;
}
  
.sonoranDog p {
    font-size: 4vw;
    text-align: left;
    margin: 0 20px 10px 20px;
    line-height: 1.4;
}
  
.sonoranDog img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 15px;
}
  
.mexicanCrepe {
    grid-area: mexicanCrepe;
}
  
.mexicanCrepe h2 {
    font-size: 6vw;
    color: white;
    text-shadow: 2px 2px 4px #b005f4;
}
  
.mexicanCrepe p {
    font-size: 4vw;
    text-align: left;
    margin: 0 20px 10px 20px;
    line-height: 1.4;
}
  
.mexicanCrepe img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 15px;
}
  
.chimichanga {
    grid-area: chimichanga;
}
  
.chimichanga h2 {
    font-size: 6vw;
    color: white;
    text-shadow: 2px 2px 4px #b005f4;
}
  
.chimichanga p {
    font-size: 4vw;
    text-align: left;
    margin: 0 20px 10px 20px;
    line-height: 1.4;
}
  
.chimichanga img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 15px;
}
  
.footerImg3 img {
    width: 100%;
    object-fit: cover;
}
  
/*Blog4 page styling*/
.blog4Wrapper {
    display: grid;
    gap: 10px;
    grid-template-areas: 
        "header"
        "blog4"
        "sedonaOakCreek"
        "kayentaToMonumentValley"
        "mountLemmon"
        "footerImg4"
        "footer";
}
  
.blog4Body {
    background: #f5af4e;
}
  
#blog4 {
    grid-area: blog4;
}
  
#blog4 h1 {
    font-size: 8vw;
    text-align: center;
    font-family: 'Walter Turncoat', cursive;
    margin: 0 15px 10px 15px;
}
  
#blog4 img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 15px;
}
  
#blog4 p {
    font-size: 4vw;
    text-align: left;
    margin: 20px;
    line-height: 1.4;
}
  
.sedonaOakCreek {
    grid-area: sedonaOakCreek;
}
  
.sedonaOakCreek h2 {
    font-size: 6vw;
    color: white;
    text-shadow: 2px 2px 4px #b005f4;
}
  
.sedonaOakCreek p {
    font-size: 4vw;
    text-align: left;
    margin: 0 20px 10px 20px;
    line-height: 1.4;
}
  
.sedonaOakCreek img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 15px;
}
  
.kayentaToMonumentValley {
    grid-area: kayentaToMonumentValley;
}
  
.kayentaToMonumentValley h2 {
    font-size: 6vw;
    color: white;
    text-shadow: 2px 2px 4px #b005f4;
}
  
.kayentaToMonumentValley p {
    font-size: 4vw;
    text-align: left;
    margin: 0 20px 10px 20px;
    line-height: 1.4;
}
  
.kayentaToMonumentValley img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 15px;
}
  
.mountLemmon {
    grid-area: mountLemmon;
}
  
.mountLemmon h2 {
    font-size: 6vw;
    color: white;
    text-shadow: 2px 2px 4px #b005f4;
}
  
.mountLemmon p {
    font-size: 4vw;
    text-align: left;
    margin: 0 20px 10px 20px;
    line-height: 1.4;
}
  
.mountLemmon img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 15px;
}
  
.footerImg4 img {
    width: 100%;
    object-fit: cover;
}
  
/*Contact page form styling*/
.contactWrapper {
    display: grid;
    gap: 10px;
    grid-template-areas: 
        "header"
        "contactForm"
        "footer";
}
  
.contactBody {
    background: #f5af4e;
}
  
#contactForm h2 {
    font-size: 6vw;
    padding-bottom: 30px;
}
  
form {
    background: #6d0796;
    display: flex;
    flex-direction: column;
    padding: 3vw 4vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    width: 90%;
    max-width: 600px;
    border-radius: 30px;
}
  
form input, form textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #ffffff;
    font-family: 'Sriracha', cursive;
    font-size: 16px;
    border-radius: 10px;
}
  
.button {
    background: white;
    color: black;
    font-size: 16px;
    border: none;
    padding: 15px;
    width: 200px;
    text-align: center;
    margin: 20px auto 10px;
    border-radius: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
}
  
.button:hover {
    background-color: #f5af4e;
    color: white;
}
  
/*Footer styling*/
.footer {
    grid-area: footer;
    text-align: center;
    background: #6d0796;
    border-radius: 10px 10px 0 0;
    padding-top: 10px;
}
  
.fa {
    padding: 10px;
    font-size: 10px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 10px;
}
  
.fa:hover {
    opacity: 9;
}
  
.fa-facebook {
  background: #6d0796;
  color: white;
  border-radius: 100%;
}
  
.fa-twitter {
    background: #6d0796;
    color: white;
    border-radius: 100%;
}
  
.fa-instagram {
    background: #6d0796;
    color: white;
    border-radius: 100%;
}
  
.created {
    color: white;
    font-family: 'Shadows Into Light Two', cursive;
    letter-spacing: 1.3px;
    padding-top: 5px;
}
  
.created a:link, a:visited {
    color: inherit;
    text-decoration: none;
}
  
.created a:hover, a:active {
    background-color: #6d0796;
    color: white;
}
  
/*About page styling*/
.aboutWrapper {
    display: grid;
    gap: 10px;
    grid-template-areas: 
        "header"
        "mainAbout"
        "footer";
}
  
.aboutBody {
    background: #f5af4e;
    background-image: url(images/Cactus\ Background.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
  
.mainAbout h1 {
    font-size: 6.5vw;
    font-family: 'Walter Turncoat', cursive;
    padding-bottom: 20px;
    text-align: center;
}
  
.aboutImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    border: 3px solid #6d0796;
    border-radius: 2em 1em 5em / 1em 4em;
}
  
.mainAbout p {
    font-size: 3.8vw;
    line-height: 1.3;
    padding: 25px 25px 0 25px;
    position: relative;
}
  
.footerAbout {
    grid-area: footer;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #6d0796;
    border-radius: 10px 10px 0 0;
    padding-top: 10px;
}
  
@media only screen and (min-width: 600px) {
    .nav-logo img {
      width: 40%;
    }
  
    #section1 p {
      font-size: 20px;
    }
  
    #section1 img {
      width: 70%;
    }
  
    .blog-post-1 {
      margin-left: 35px;
      margin-right: 35px;
    }
  
    .blog-post-2 {
      margin-left: 35px;
      margin-right: 35px;
    }
    
    .blog-post-3 {
      margin-left: 35px;
      margin-right: 35px;
    }
    
    .blog-post-4 {
      margin-left: 35px;
      margin-right: 35px;
    }
  
    #section2 {
      margin-left: 35px;
      margin-right: 35px;
    }
  
    #section2 p {
      font-size: 20px;
    }
  
    #section3 img {
      width: 65%;
      height: 85%;
    }
  
    .mainAbout p {
      font-size: 20px;
    }
}
  
@media only screen and (min-width: 700px) {
    .mainAbout h1 {
      font-size: 5.7vw;
    }
}
  
@media only screen and (min-width: 821px) {
    .wrapper {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: 
          "header header header"
          "main main main"
          "section1 section1 section1"
          "section2 section2 section3"
          "footer footer footer";
    }
  
    .nav-logo img {
      width: 40%;
    }
  
    #section1 p {
      font-size: 22px;
    }
  
    #section3 img {
      width: 300px;
      height: 300px;
    }
  
    /*Main blog page styling*/
    .blogWrapper {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
        "header header"
        "mainBlog mainBlog"
        "main-blog1 main-blog2"
        "main-blog3 main-blog4"
        "footer footer";
    }
  
    #mainBlog h1 {
      font-size: 6vw;
    }
  
    .main-blog1 {
      width: 60%;
    }
  
    .main-blog1 img {
      width: 100%;
    }
  
    .main-blog1 h2 {
      font-size: 3.5vw;
    }
  
    .main-blog1 p {
      font-size: 2vw;
    }
  
    .main-blog2 {
      width: 60%;
    }
  
    .main-blog2 img {
      width: 100%;
    }
  
    .main-blog2 h2 {
      font-size: 3.5vw;
    }
  
    .main-blog2 p {
      font-size: 2vw;
    }
  
    .main-blog3 {
      width: 60%;
    }
  
    .main-blog3 img {
      width: 100%;
    }
  
    .main-blog3 h2 {
      font-size: 3.5vw;
    }
  
    .main-blog3 p {
      font-size: 2vw;
    }
  
    .main-blog4 {
      width: 60%;
    }
  
    .main-blog4 img {
      width: 100%;
    }
  
    .main-blog4 h2 {
      font-size: 3.5vw;
    }
  
    .main-blog4 p {
      font-size: 2vw;
    }
  
    /*Blog1 page styling*/
    .blog1Wrapper {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
          "header header"
          "blog1 blog1"
          "hike10 hike9"
          "hike8 hike7"
          "hike6 hike5"
          "hike4 hike3"
          "hike2 hike1"
          "footerImg1 footerImg1"
          "footer footer";
    }
  
    #blog1 h1 {
      font-size: 6vw;
    }
    
    #blog1 img {
      width: 50%;
    }
    
    #blog1 p {
      font-size: 2vw;
      margin: 20px 40px 20px 40px;
    }
  
    .hike10 h2 {
      font-size: 3vw;
    }
  
    .hike10 p {
      font-size: 2vw;
    }
    
    .hike10 img {
      width: 70%;
    }
  
    .hike9 h2 {
      font-size: 3vw;
    }
  
    .hike9 p {
      font-size: 2vw;
    }
    
    .hike9 img {
      width: 70%;
    }
  
    .hike8 h2 {
      font-size: 3vw;
    }
    
    .hike8 p {
      font-size: 2vw;
    }
    
    .hike8 img {
      width: 70%;
    }
  
    .hike7 h2 {
      font-size: 3vw;
    }
    
    .hike7 p {
      font-size: 2vw;
    }
    
    .hike7 img {
      width: 70%;
    }
  
    .hike6 h2 {
      font-size: 3vw;
    }
    
    .hike6 p {
      font-size: 2vw;
    }
    
    .hike6 img {
      width: 70%;
    }
  
    .hike5 h2 {
      font-size: 3vw;
    }
    
    .hike5 p {
      font-size: 2vw;
    }
    
    .hike5 img {
      width: 70%;
    }
  
    .hike4 h2 {
      font-size: 3vw;
    }
    
    .hike4 p {
      font-size: 2vw;
    }
    
    .hike4 img {
      width: 70%;
    }
  
    .hike3 h2 {
      font-size: 3vw;
    }
    
    .hike3 p {
      font-size: 2vw;
    }
    
    .hike3 img {
      width: 70%;
    }
  
    .hike2 h2 {
      font-size: 3vw;
    }
    
    .hike2 p {
      font-size: 2vw;
    }
    
    .hike2 img {
      width: 70%;
    }
  
    .hike1 h2 {
      font-size: 3vw;
    }
    
    .hike1 p {
      font-size: 2vw;
    }
    
    .hike1 img {
      width: 70%;
    }
  
    .footerImg1 {
      grid-area: 8 / 1 / 8 / 3;
    }
  
    /*Blog2 page styling*/
    .blog2Wrapper {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
        "header header"
        "blog2 blog2"
        "bisbeeMine bisbeeFood"
        "bisbeeShop bisbeeHotel"
        "footerImg2 footerImg2"
        "footer footer";
    }
  
    #blog2 h1 {
      font-size: 6vw;
    }
    
    #blog2 img {
      width: 50%;
    }
    
    #blog2 p {
      font-size: 2vw;
      margin: 20px 40px 20px 40px;
    }
    
    .bisbeeMine h2 {
      font-size: 3vw;
    }
    
    .bisbeeMine p {
      font-size: 2vw;
    }
    
    .bisbeeMine img {
      width: 70%;
    }
    
    .bisbeeFood h2 {
      font-size: 3vw;
    }
    
    .bisbeeFood p {
      font-size: 2vw;
    }
    
    .bisbeeFood img {
      width: 70%;
    }
    
    .bisbeeShop h2 {
      font-size: 3vw;
    }
    
    .bisbeeShop p {
      font-size: 2vw;
    }
    
    .bisbeeShop img {
      width: 70%;
    }
    
    .bisbeeHotel h2 {
      font-size: 3vw;
    }
    
    .bisbeeHotel p {
      font-size: 2vw;
    }
    
    .bisbeeHotel img {
      width: 70%;
    }
  
    .footerImg2 {
      grid-area: 5 / 1 / 5 / 3;
    }
  
    /*Blog3 page styling*/
    .blog3Wrapper {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
          "header header"
          "blog3 blog3"
          "sonoranDog mexicanCrepe"
          "chimichanga ."
          "footerImg3 footerImg3"
          "footer footer";
    }
    
    #blog3 h1 {
      font-size: 6vw;
    }
    
    #blog3 img {
      width: 50%;
    }
    
    #blog3 p {
      font-size: 2vw;
      margin: 20px 40px 20px 40px;
    }
  
    .sonoranDog h2 {
      font-size: 3vw;
    }
    
    .sonoranDog p {
      font-size: 2vw;
    }
    
    .sonoranDog img {
      width: 70%;
    }
    
    .mexicanCrepe h2 {
      font-size: 3vw;
    }
    
    .mexicanCrepe p {
      font-size: 2vw;
    }
    
    .mexicanCrepe img {
      width: 70%;
    }
    
    .chimichanga h2 {
      font-size: 3vw;
    }
    
    .chimichanga p {
      font-size: 2vw;
    }
    
    .chimichanga img {
      width: 70%;
    }
  
    .footerImg3 {
      grid-area: 5 / 1 / 5 / 3;
    }
  
    /*Blog4 page styling*/
    .blog4Wrapper {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
        "header header"
        "blog4 blog4"
        "sedonaOakCreek kayentaToMonumentValley"
        "mountLemmon ."
        "footerImg4 footerImg4"
        "footer footer";
    }
  
    #blog4 h1 {
      font-size: 6vw;
    }
  
    #blog4 img {
      width: 50%;
    }
  
    #blog4 p {
      font-size: 2vw;
      margin: 20px 40px 20px 40px;
    }
  
    .sedonaOakCreek h2 {
      font-size: 3vw;
    }
  
    .sedonaOakCreek p {
      font-size: 2vw;
    }
  
    .sedonaOakCreek img {
      width: 70%;
    }
  
    .kayentaToMonumentValley h2 {
      font-size: 3vw;
    }
  
    .kayentaToMonumentValley p {
      font-size: 2vw;
    }
  
    .kayentaToMonumentValley img {
      width: 70%;
    }
  
    .mountLemmon h2 {
      font-size: 3vw;
    }
  
    .mountLemmon p {
      font-size: 2vw;
    }
  
    .mountLemmon img {
      width: 70%;
    }
  
    .footerImg4 {
      grid-area: 5 / 1 / 5 / 3;
    }
  
    /*About page styling*/
    .aboutImg {
      width: 48%;
    }
}
  
@media only screen and (min-width: 1070px) {
    .mainAbout h1 {
      font-size: 5vw;
    }
  
    .aboutImg {
      width: 42%;
    }
  
    #contactForm h2 {
      font-size: 5vw;
    }
  }
  
  @media only screen and (min-width: 1340px) {
    .mainAbout h1 {
      font-size: 4vw;
    }
  
    .aboutImg {
      width: 30%;
    }
}