* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root variables */
:root {
  --primary-color: #F5AF4E;
  --primary-color-dark: #C8873A;
  --secondary-color: #6D0796;
  --accent-color-light: #F2E6D4;
  --accent-color-dark: #371E16;
  --font-family: 'Arial', sans-serif;
  --transition-speed: 0.3s;
}

body {
  font-family: var(--font-family);
  background-color: var(--primary-color);
  line-height: 1.4;
}

/* Locally hosted fonts */
@font-face {
  font-family: 'Satisfy';
    src: url('/assets/fonts/Satisfy-Regular.woff2') format('woff2'),
         url('/assets/fonts/Satisfy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Text styling */
h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

/* Hero section */
.hero {
  background-image: url(/assets/images/main-image.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  position: relative;
}

/* Navbar */
.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: transparent;
}

/* Logo styling */
.logo img {
  height: 125px;
  width: auto;
}

/* Navigation links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 50px;
}

.nav-links li a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 2rem;
  font-family: 'Satisfy', serif;
  transition: var(--transition-speed);
}

.nav-links li a:hover {
  color: var(--primary-color);
}

/* Hamburger menu */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 1100;
}

.bar {
  display: block;
  width: 30px;
  height: 4px;
  background-color: var(--secondary-color);
  border-radius: 5px;
  transition: var(--transition-speed) ease-in-out;
}
  
/* Footer styling */
.footer {
  text-align: center;
  border-radius: 10px 10px 0 0;
  padding-top: 10px;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.social-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: cover;
  transition: background-image 0.3s ease;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.facebook-icon {
  background-image: url(/assets/images/facebook-logo.svg);
}

.facebook-icon:hover {
    background-image: url(/assets/images/facebook-logo-color.svg);
    transform: scale(1.2);
}

.twitter-icon {
    background-image: url(/assets/images/x-logo.svg);
}
  
.twitter-icon:hover {
  background-image: url(/assets/images/x-logo-color.svg);
  transform: scale(1.2);
}

.instagram-icon {
    background-image: url(/assets/images/instagram-logo.svg);
}
  
.instagram-icon:hover {
  background-image: url(/assets/images/instagram-logo-color.svg);
  transform: scale(1.2);
}
  
.created {
  color: white;
  font-family: 'Shadows Into Light Two', cursive;
  letter-spacing: 1.3px;
  padding-top: 5px;
}

@media (max-width: 1024px) {
  .logo img {
    height: 100px;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 20px;
  }

  .hamburger {
    display: flex;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    text-align: center;
    padding: 20px 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: all 0.4s ease-in-out;
  }

  .nav-links.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .nav-links li {
    padding: 10px 0;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  /* Animate links one by one */
  .nav-links.active li {
    opacity: 1;
    transform: translateY(0);
  }

  .nav-links.active li:nth-child(1) { transition-delay: 0.1s; }
  .nav-links.active li:nth-child(2) { transition-delay: 0.2s; }
  .nav-links.active li:nth-child(3) { transition-delay: 0.3s; }
  .nav-links.active li:nth-child(4) { transition-delay: 0.4s; }

  /* Hamburger menu animation */
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
    width: 30px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(3) {
     transform: translateY(-10px) rotate(-45deg);
     width: 30px;
  }
}