.nav-links li a:hover {
    color: #FFFFFF;
}

.main-hidden-hiking-trails-header {
    margin-top: 200px;
    text-align: center;
    padding-bottom: 10px;
}

.hidden-hiking-intro {
    text-align: center;
    margin-bottom: 2rem;
}

.hidden-hiking-intro img {
    max-width: 90%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 8px;
}

.hidden-hiking-intro p {
    text-align: left;
    font-size: 1.3rem;
    margin: 0 100px;
}

.hiking-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}  

.hidden-hiking-post {
    background: var(--primary-color);
    border-radius: 8px;
    margin: 0 100px;
}

.hidden-hiking-post h2 {
    text-align: center;
}

.hidden-hiking-post p {
    font-size: 1.3rem;
}

.hidden-hiking-post img {
    max-width: 90%;
    height: auto;
    display: block;
    margin: 10px auto;
    border-radius: 8px;
}

.footer-image {
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
}

.footer-image img {
    width: 100%;
    height: auto;
    display: block;
}

/* Responsive Styling */
@media (max-width: 1180px) {
    main h1 {
        font-size: 3.5rem;
    }
}

@media (max-width: 768px) {
    main h1 {
        font-size: 3rem;
    }

    .hidden-hiking-post {
      flex: 1 1 100%; /* Stacks posts in one column */
    }
}

@media (max-width: 435px) {
    .main-hidden-hiking-trails-header {
        margin-top: 150px;
    }

    main h1 {
        font-size: 2.5rem;
    }

    .hidden-hiking-intro p {
        font-size: 1.1rem;
        margin: 0 40px;
    }

    .hidden-hiking-post h2 {
        font-size: 2.5rem;
    }

    .hidden-hiking-post p {
        font-size: 1.1rem;
        padding: 10px;
    }
}