.nav-links li a:hover {
    color: #FFFFFF;
}

.main-hidden-hiking-trails-header {
    margin-top: 200px;
    margin-bottom: 2rem;
    text-align: center;
    padding-bottom: 10px;
}

.main-hidden-hiking-trails-header h1 {
    margin-top: 0;
    margin-bottom: 1rem;
}

.hidden-hiking-intro {
    text-align: center;
    margin: 0 auto 3rem auto;
    max-width: 1300px;
    padding: 0 1rem;
}

.hidden-hiking-intro img {
    max-width: 90%;
    height: auto;
    display: block;
    margin: 1.5rem auto;
    border-radius: 8px;
}

.hidden-hiking-intro p {
    text-align: left;
    font-size: 1.3rem;
    margin: 1rem 70px 1.5rem 70px;
    line-height: 1.6;
}

.hiking-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 1400px;
}  

.hidden-hiking-post {
    background: var(--primary-color);
    border-radius: 8px;
    padding: 2rem;
    margin: 0;
    flex: 1 1 calc(50% - 2rem);
}

.hidden-hiking-post h2 {
    text-align: center;
}

.hidden-hiking-post p {
    font-size: 1.3rem;
}

.hidden-hiking-post img {
    max-width: 90%;
    height: auto;
    display: block;
    margin: 10px auto;
    border-radius: 8px;
}

.footer-image {
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
}

.footer-image img {
    width: 100%;
    height: auto;
    display: block;
}

/* Responsive Styling */
@media (max-width: 1180px) {
    main h1 {
        font-size: 3.5rem;
    }
}

@media (max-width: 1024px) {
    .hidden-hiking-intro p {
        font-size: 1.2rem;
        margin: 0 50px;
    }
}

@media (max-width: 768px) {
    main h1 {
        font-size: 3rem;
    }

    .hidden-hiking-post {
      flex: 1 1 100%; /* Stacks posts in one column */
    }
}

@media (max-width: 435px) {
    .main-hidden-hiking-trails-header {
        margin-top: 150px;
    }

    main h1 {
        font-size: 2.5rem;
    }

    .hidden-hiking-intro p {
        font-size: 1.1rem;
        margin: 0 40px;
    }

    .hidden-hiking-post h2 {
        font-size: 2.5rem;
    }

    .hidden-hiking-post p {
        font-size: 1.1rem;
        padding: 10px;
    }
}