.latest-posts {
    position: relative;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
}

.latest-posts::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 20%;
    height: 30px;
    background: url(/assets/images/latest-post-border.svg);
    background-size: contain;
    background-repeat: repeat-x;
    transform: translateX(-50%);
}

.latest-posts-p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}

/* Blog list section */
.blog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    padding: 40px 20px;
}

.blog-post {
    position: relative;
    flex: 1 1 calc(50% - 20px);
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    background-color: var(--secondary-color);
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.8);
    transition: transform 0.3s ease-in-out;
}

.blog-post:hover {
    transform: translateY(-8px);
}

.blog-link {
    display: block;
    position: relative;
}

.blog-post img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px #FFFFFF;
    margin: 30px;
}

.blog-post h2 {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    text-align: center;
    font-size: 2rem;
    transition: background 0.3s ease;
}

.blog-post h2:hover {
    background: rgba(0, 0, 0, 0.8);
}

.blog-post a {
    color: var(--primary-color);
}

.blog-post p {
    color: #FFFFFF;
    font-size: 1.3rem;
    line-height: 1.6;
    text-align: left;
    padding: 15px;
}

.all-posts-button a {
    font-family: 'Shadows Into Light Two';
    font-size: 2rem;
    letter-spacing: 2.5px;
    display: inline-block;
    color: inherit;
    text-decoration: none;
    margin: 20px;
    padding: 10px;
    border: 3px solid #FFFFFF;
    border-radius: 8px;
    background-color: var(--secondary-color);
}

.all-posts-button a:hover {
    color: #FFFFFF;
    background-color: #000000;
  }

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.about-section {
    flex: 3;
    margin-left: 50px;
    max-width: 70%;
}

.about-section h2 {
    margin: 20px 0;
}

.about-section p {
    font-size: 1.3rem;
}

.az-flag {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.az-flag img {
    width: 100%;
    max-width: 200px;
}

/* Responsive layout */
@media (max-width: 768px) {
    .blog-post {
        flex: 1 1 100%;
    }
  }