.latest-posts {
    position: relative;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
}

.latest-posts::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 20%;
    height: 30px;
    background: url(/assets/images/latest-post-border.svg);
    background-size: contain;
    background-repeat: repeat-x;
    transform: translateX(-50%);
}

.latest-posts-p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}

/* Blog list section */
.blog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 40px 20px;
}

.blog-post {
    position: relative;
    flex: 1 1 calc(50% - 20px);
    max-width: 500px;
    overflow: hidden;
    background-color: var(--secondary-color);
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.8);
    transition: transform 0.3s ease-in-out;
}

.blog-post:hover {
    transform: translateY(-8px);
}

.blog-link {
    display: block;
    position: relative;
    text-decoration: none;
}

.blog-post img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px #FFFFFF;
    margin: 0;
}

.blog-post h2 {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    text-align: center;
    font-size: 1.8rem;
    transition: background 0.3s ease;
    width: 80%;
}

.blog-post h2:hover {
    background: rgba(0, 0, 0, 0.8);
}

.blog-post a {
    color: var(--primary-color);
}

.all-posts-button {
    text-align: center;
}

.all-posts-button a {
    font-family: 'Shadows Into Light Two';
    font-size: 2rem;
    letter-spacing: 2.5px;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    margin: 20px;
    padding: 10px;
    border: 3px solid #FFFFFF;
    border-radius: 8px;
    background-color: var(--secondary-color);
}

.all-posts-button a:hover {
    color: #FFFFFF;
    background-color: #000000;
    cursor: pointer;
  }

.about-section {
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px 20px;
    margin: 0 auto;
}

.about-container {
    flex: 3;
    text-align: left;
    max-width: 800px;
    margin-left: 100px;
}

.about-container h2 a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 2.2rem;
    transition: color 0.3s ease;
}

.about-container h2 a:hover {
    color: #FFFFFF;
}

.about-container p {
    color: #FFFFFF;
    font-size: 1.3rem;
    line-height: 1.6;
}

.az-flag {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.az-flag img {
    max-width: 250px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* Responsive layout */
@media (max-width: 768px) {
    .blog-post {
        flex: 1 1 100%;
    }
  }