.nav-links li a:hover {
    color: #FFFFFF;
}

.main-long-way-around-header {
    margin-top: 200px;
    margin-bottom: 2rem;
    text-align: center;
    padding-bottom: 10px;
}

.main-long-way-around-header h1 {
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.long-way-around-intro {
    text-align: center;
    margin: 0 auto 3rem auto;
    max-width: 1300px;
    padding: 0 1rem;
}

.long-way-around-intro img {
    max-width: 90%;
    height: auto;
    display: block;
    margin: 1.5rem auto;
    border-radius: 8px;
}

.long-way-around-intro p {
    text-align: left;
    font-size: 1.3rem;
    margin: 1rem 70px 1.5rem 70px;
    line-height: 1.6;
}

.long-way-around-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 1400px;
}  

.long-way-around-post {
    background: var(--primary-color);
    border-radius: 8px;
    padding: 2rem;
    margin: 0;
    flex: 1 1 calc(50% - 2rem);
}

.long-way-around-post h2 {
    text-align: center;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.long-way-around-post p {
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    line-height: 1.6;
}

.long-way-around-post img {
    max-width: 90%;
    height: auto;
    display: block;
    margin: 1.5rem auto;
    border-radius: 8px;
}

.footer-image {
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
    margin: 2rem 0;
}

.footer-image img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
}

/* Responsive Styling */
@media (max-width: 1024px) {
    .main-long-way-around-header h1 {
        font-size: 3rem;
    }

    .long-way-around-intro p {
        font-size: 1.1rem;
        margin: 1rem 50px 1.5rem 50px;
    }

    .long-way-around-container {
        gap: 1.5rem;
    }

    .long-way-around-post {
        flex: 1 1 100%;
        padding: 1.5rem;
    }

    .long-way-around-post h2 {
        font-size: 2rem;
    }

    .long-way-around-post p {
        font-size: 1.1rem;
    }

    .long-way-around-post img {
        margin: 1.5rem auto 0 auto;
    }
}

@media (max-width: 768px) {
    .main-long-way-around-header {
        margin-top: 150px;
    }

    .main-long-way-around-header h1 {
        font-size: 2.5rem;
        margin-bottom: 0;
    }

    .long-way-around-intro p {
        margin: 1rem 30px;
        font-size: 1rem;
    }

    .long-way-around-post h2 {
        font-size: 1.5rem;
    }

    .long-way-around-post p {
        font-size: 1rem;
    }

    .long-way-around-post img {
        margin: 1rem auto 0 auto;
    }
}

@media (max-width: 435px) {
    .long-way-around-intro p {
        font-size: 0.9rem;
        margin: 0 20px;
    }

    .long-way-around-post {
        padding: 0.5rem;
    }

    .long-way-around-post p {
        font-size: 0.9rem;
        padding: 0.5rem 0;
    }

    .long-way-around-post img {
        margin: 0.5rem auto;
    }
}